/* *{
    margin: 0px;
    text-decoration: none;
    padding: 0px;
} */
body{
    background-color: rgb(204, 204 , 204);
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration-line: none;
}

#playlist{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}
div#content{
    
    margin-left: 5%;
    padding-left: 5%;
    padding-top: 5%;
    /* padding-right: 5%; */
    
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
}

div video{
    width: 90%;
    padding-left: 3%;
    background-color: rgb(255,255,255);
    
    border-radius: 20px;
}
div audio{
    background-color: rgb(255,255,255);
    width: 90%;
    padding-left: 3%;
    
    border-radius: 10px;
}